@import 'index';

:root {
  --color-white: #ffffff;
  --color-primary: #3c81b9;
  --color-primary-light: #5ea6e0;
  --color-primary-pastel: #95cfff;
  --color-primary-dark: #175e9c;
  --color-text: #29292a;
  --color-border: #ededed;
  --color-border-warm: #cacaca;
  --color-border-dark: #2a2a2a;
  --color-success: #c5ffb4;
  --color-error: #ff5552;

  --screen-xxs: 300px;
}
